doctype html
html(lang='en')
	head
		link(rel='stylesheet', href='/stylesheets/main.css')
		title Lapchat
	body
		#lol
			img(src='http://i.imgur.com/9FttlGB.jpg')
		a(href='/login')
			#continue LOGIN
		a(href='/login')
			#continue SIGN UP