head
  link(rel='stylesheet', href='/stylesheets/navbar.css')
body
  section.navigation
    .nav-container
      .brand
        a(href='#!')
          img(src='http://i.imgur.com/Ypp6w2Q.png')
      nav
        .nav-mobile
          a#nav-toggle(href='#!')
            span
        ul.nav-list
          li
            a(href='#!') Home
          li
            a(href='#!') Chat
          li
            a(href='#!') Profile
          li
            a(href='#!') Logout
