@import 'mixins';

#main-background {
  background: url('/img/design/stardust.png');
  height: 100%;
}

nav
{
  font-family: Helevtia;
}

.jumbotron {
  background-color: $main-yellow;
  margin-top: 100px;
  text-align: center;

  h1 {
    text-shadow: 4px 4px 0 rgba(0,0,0,.1);
  }

  #login-form {
    input#username-input {
      font-size: 20px;
      height: 40px;
      width: 40%;
      margin: 20px auto;
      text-align: center;
    }
    button#set-username {
      border: none;
      background-color: $main-dark-gray;
      color: white;
      padding: 5px 10px;
      width: 100px;
      margin-bottom: 20px;

      &:hover {
        background-color: gray;
      }

      &:active {
        border-bottom: none;
        padding-top: 8px;
      }

    }

  }
}
